:root{
    --background : #02044a;
    --background2 : #78beff2c;
    
    --textFieldPlaceholder : #ffffff6c;
    --textFieldBorder : #ffffff3b;
    --textFieldBorderOnHover : #269674;

    --buttonColor : #10774e;
    --buttonColorOnHover : #0c8554;

    --white : #ffffff;


}